.header{
    height: 90px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
    padding-right: 140px;
}
.header img{
    height: 150px;
}
.header h1{
    color: #FFFFFF;
    margin-left: 26px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}
.header .icon{
    color: #FFFFFF;
    font-size: 26px;
}
.header a:hover{
    color: orange;
}
